* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}
body {
  display: grid;
  place-items: center;
  margin: 1em;
}

h4 {
  padding: 1em;
  background-color: rgb(216, 63, 188);
  color: white;
}
#display {
  font-size: 20px;
  height: 2em;
  text-align: right;
  overflow-x: scroll;
 
}
#display::-webkit-scrollbar{
display: block;
height: 3px;
}
div.container {
  
  height: 100%;
  width: 250px;
  text-align: center;
  
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: rgb(250, 245, 239);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 2px 4px 4px grey;

  /* display: flex;
justify-content: center;
align-items: center; */
}
.calculator-buttons{
width: 100%;

}
.btn {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 2px;
  width: 100%;
}
button {
  padding: 8px;
  background-color: rgb(249, 220, 249);
  border: 1px solid rgb(253, 167, 253);
  cursor: pointer;
  box-shadow: 0 4px 3px grey;
}
button:hover {
  background-color: rgb(235, 78, 196);
  color: white;
}

#Ac {
  grid-column: 1/3;
}

.equal {
  grid-column: 3/5;
}

@media screen and (max-width:600px) {
  .container{
    max-width: 100%;

  }
}